@forward 'globals';


main{
    background-color: var(--Cream);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    border-radius: 15px;
    overflow: hidden;
    background-color:var(--White) ;
    @media (min-width:520px) {
        display: flex;
        max-width: 600px;
    }
    &__pic{
        @media (min-width:520px) {
            flex-basis: 50%;
            flex-grow: 1;
        }
        img{
            height: 100%;
        }
    }
    &__text{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width:520px) {
            flex-basis: 50%;
            flex-grow: 1;
            padding: 30px;
        }
    }
}


.details{
    &--head{
        font-family: var(--font-Montserrat);
        color: var(--Dark-grayish-blue);
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    &--titel{
        font-family: var(--font-Fraunces);
        font-size: 2.4rem;
    }
    &--par{
        font-family: var(--font-Montserrat);
        color: var(--Dark-grayish-blue);
    }
    &--btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        font-weight: bold;
        border: none;
        outline: none;
        padding: 10px 0;
        border-radius: 5px;
        background-color: var(--Dark-cyan);
        color: white;
        cursor: pointer;
        font-family:var(--font-Montserrat) ;
        transition: 0.3s;
        &:hover{
            background-color: hsl(158, 37%, 14%);
        }
        img{
            width: 20px;
        }
    }
}


.price{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    &__bold{
        color: var(--Dark-cyan);
        font-family: var(--font-Fraunces);
        font-size: 2rem;
    }
    &__line{
        text-decoration: line-through;
        color: var(--Dark-grayish-blue);
        font-family: var(--font-Montserrat);
    }
}


.attribution{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    a,a:visited,a:active{
        font-family: var(--font-Montserrat);
        color: var(--Dark-cyan);
    }
}