@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*,*::after,*::before{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

p{
    font-size: 14px;
}


img{
    width: 100%;
}